<div class="cyfer-block info">
 <center><h2><span>開催場所の地図</span></h2><br>
    </center>
  </div>

<div>
<center><div id="map" style='width: 95%; height: 400px;'></div></center>
</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
</script>