<div>
  <div>
    <h2><%= @user.mc_name %>のマイページ</h2>
    <% if current_user && current_user.id == @user.id %>
      <%= link_to "プロフィール編集", edit_user_path(current_user), {:class => "btn btn-primary withripple" }%>
    <% end %>
  </div>
  <div>
    <h3>戦歴</h3>
    <%= @user.history %>
  </div>
  <div>
    <h3>Discography（音源紹介）</h3>
    <%= @user.discography %>
  </div>
  <div>
    <h3>自己紹介</h3>
  </div>