/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
p {
  font-size : 36px;
}

h3{
  margin-bottom: 0;
}

.center{
  margin: 0 auto;
}

.block{
  width: 800px;
  border-color: ;
  box-shadow: 7px 7px 7px 7px #666666;
  background-color: white;
  margin: 0 auto;
  margin-bottom:50px;
}
.half-block{
  width: 380px;
  border-color: ;
  box-shadow: 7px 7px 7px 7px #666666;
  background-color: white;
  margin: 0 auto;
  margin-bottom:50px;
}

.cyfer-block{
  width: 380px;
  border-color: ;
  box-shadow: 7px 7px 7px 7px #666666;
  background-color: white;
  margin: 0 auto;
  margin-bottom:50px;
}

.right{
  float:right;
}

.left{
  float:left;
}

.detail{
  box-shadow: 1px 1px 1px 1px #666666;
  border-radius: 5px;
}

.col p{
  font-size: 12px;
  margin: 0;
}

.nav-menu{
  float:right;
}

.col{
  width: 300px;
  height: 300px;
  float: left;
  margin: 10px;
  margin-bottom: 30px;
  box-shadow: 0.1px 0.1px 0.1px 0.1px #666666;
  /*border-radius: 20px;*/
  background-color: white;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.half-box-container{
  width:800px;
}

ul{
  margin: auto 0;
  list-style: none;
  padding-left: 0;
}

@media only screen and (min-device-width: 760px)
    and (max-device-width: 1000px){
.box{
  max-width: 1000px;
  height: ;
  border-color: black;
  box-shadow: 7px 7px 7px 7px #666666;
  background-color: black;
  margin: 0 auto;
  padding: 5px;
}
}

@media only screen and (min-device-width: 480px)
    and (max-device-width: 760px){
.box{
  max-width: 760px;
  height: ;
  border-color: ;
  box-shadow: 7px 7px 7px 7px #666666;
  background-color: white;
  margin: 0 auto;
  padding: 5px;
}
}

@media only screen and (min-device-width: 320px)
    and (max-device-width: 480px){
.box{
  max-width: 480px;
  height: ;
  border-color: ;
  box-shadow: 7px 7px 7px 7px #666666;
  background-color: white;
  margin: 0 auto;
  padding: 5px;
}
}



.shadow{
  box-shadow: 1px 1px 1px 1px #666666;
}

/*@media only screen and (min-device-width: 760px)
    and (max-device-width: 1000px){*/
.heading{
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 7px 7px 7px 7px #666666;
  background-color:;
  margin-bottom: 50px;
}


.title{
  float: left;
}