/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.heading{
  background-color:white;
  box-shadow: 1px 1px 1px 1px #666666;
  margin-bottom: 15px;
}

.cyferbox{
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  box-shadow: 0.1px 0.1px 0.1px 0.1px #666666;
  background-color: white;
}

.cyfer-name{
  margin: 5px 5px 5px 5px;
}

img{
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.box{
  border-color: black;
  box-shadow: 1px 1px 1px 1px #666666;
  background-color: #f2f4f8;;
}

.cyfer-list ul li{
  /*box-shadow: 7px 7px 7px 7px #666666;*/
}

@media screen and (min-width:760px) {

.kihon-block{
  width:30%;
  float:left;
  margin-left:5%;
}

.detail-block{
  width:30%;
  float:left;
}

.sanka-yotei-block{
  width:30%;
  float:left;
}

.cyfer-list ul{
  margin-left:-20px;
  overflow:hidden;
}

.cyfer-list ul li{
  list-style-type:none;
  float:left;
  margin-left: 25px;
  margin-bottom:20px;
  text-align:center;
  box-shadow: 3px 3px 3px 3px #666666;
}

.col li {
  width: 30%;}
}
}

/*以下、レスポンシブ以外のcssコード*/
/*以下、レスポンシブ以外のcssコード*/
/*以下、レスポンシブ以外のcssコード*/

.box{
  width: 95%;
  border-color: black;
  box-shadow: 7px 7px 7px 7px #666666;
  background-color: #f2f4f8;;
  margin: 0 auto;
}

.title{
  float: left;
  margin-bottom: 0px;
}

h1{
  margin-bottom: 0px;
}

.nav-menu{
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

ul{
  margin: auto 0;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
  padding-left: 0;
}

li{
  margin-right: 0px;
}

h3{
  margin: 0;
}

a{
  margin: 0;
}

/*p{
  margin: 0;
}*/

.center{
  margin:auto 0;
}

.info p{
  padding: 1em;
  border: 3px solid #ccc;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #666666;
  background-color: white;
}

.fukidashi {
  position: relative;
  padding: .5em .75em;
  background-color: #f6f6f6;
}

.fukidashi {
  position: relative;
  padding: .5em .75em;
  background-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 7px 7px 7px 7px #666666;
}
.fukidashi::after {
  position: absolute;
  top: 100%;
  left: 30px;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 15px solid #f0f0f0;
}

.cyfer-list h3 {
  position: relative;
  padding: 1em 4em 1em 1em;
  -webkit-background: linear-gradient(-155deg, rgba(0, 0, 0, 0) 1.5em, #f6f6f6 0%);
  background: linear-gradient(-155deg, rgba(0, 0, 0, 0) 1.5em, #f6f6f6 0%);
  border-radius: 6px;
}
.cyfer-list h3::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 1.65507em;
  height: 3.5493em;
  background: -webkit-linear-gradient(to left bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .2));
  background: linear-gradient(to left bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .2));
  border-bottom-left-radius: 6px;
  box-shadow: -.2em .2em .3em -.1em rgba(0, 0, 0, .15);
  -webkit-transform: translateY(-1.89424em) rotate(-40deg);
  transform: translateY(-1.89424em) rotate(-40deg);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}

.cyferbox h3 {
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc;
  color:black;
}
.cyferbox h3 span {
  display: block;
  margin-bottom: .2em;
  color: red;
  font-size: .9em;
}

.cyfer-block h2 {
  padding: .75em 1em;
  border: 1px solid #ccc;
  /*border-top: 3px solid red;*/
  border-bottom: 3px solid red;
  background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 1) inset;
}

/*ボタンのCSS*/

.button {
  display: inline-block;
  width: 200px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
  box-shadow: 2px 2px 2px 2px #666666;
}
.button::before,
.button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.button,
.button::before,
.button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button1 {
  position: relative;
  z-index: 2;
  background-color: white;
  border: 1px solid #333;
  color: #333;
  line-height: 50px;
  overflow: hidden;
}
.button1:hover {
  color: #fff;
}
.button1::after {
  top: -100%;
  width: 100%;
  height: 100%;
}
.button1:hover::after {
  top: 0;
  background-color: red;
}

.button2 {
  position: relative;
  z-index: 2;
  background-color: #333;
  border: 2px solid #333;
  color: #fff;
  line-height: 50px;
  margin-bottom:30px;
}
.button2:hover {
  background-color: #fff;
  border-color: #59b1eb;
  color: #59b1eb;
}
.button2::before,
.button2::after {
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #333;
}
.button2::before {
  top: 0;
}
.button2::after {
  bottom: 0;
}
.button2:hover::before,
.button2:hover::after {
  height: 0;
  background-color: #59b1eb;
}


/*参加ボタン*/
.sanka-block input {
  display: inline-block;
  width: 200px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  font-size: 16px;
  outline: none;
  box-shadow: 7px 7px 7px 7px #666666;
  margin-bottom: 20px;
}
.sanka-block input::before,
.sanka-block input::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.sanka-block input,
.sanka-block input::before,
.sanka-block input::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.sanka-block input {
  position: relative;
  z-index: 2;
  background-color: #BBBBBB;
  border: 1px solid #333;
  color: #333;
  line-height: 50px;
  overflow: hidden;
}
.sanka-block input:hover {
  color: #fff;
}
.sanka-block input::after {
  top: -100%;
  width: 100%;
  height: 100%;
}
.sanka-block input:hover::after {
  top: 0;
  background-color: #333;
}

/*投稿フォーム*/
.toukou-form{
  padding: 1em;
  border: 3px solid #ccc;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #666666;
  background-color: white;
}

/*コメント*/
.each-comment{
  padding: 1em;
  border: 3px solid #ccc;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #666666;
  background-color: white;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.comment-block{
  background-color:white;
  box-shadow: 7px 7px 7px 7px #666666;
  margin-bottom: 15px;
  width:95%;
  margin: 0 auto;
  padding-bottom:10px;
}

/*登録フォーム*/
.touroku-form{
  width:80%;
  margin:0 auto;
}

.touroku-form .form-control{
  margin-top:10px;
  padding: 1em;
  border: 3px solid #ccc;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #666666;
  background-color: white;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.touroku-form textarea{
  padding: 1em;
  border: 3px solid #ccc;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #666666;
  background-color: white;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.touroku-form h3 {
  position: relative;
  padding-bottom: .5em;
  border-bottom: 4px solid gray;
}
.touroku-form h3::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: 2;
  content: '';
  width: 20%;
  height: 4px;
  background-color: red;
}

/*マイページ*/
.mypage-show{
  width:70%;
  margin: 0 auto;
}
.mypage-show p{
  padding: 1em;
  border: 3px solid #ccc;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #666666;
  background-color: white;
}

.mypage-show img{
  width:50%;
  margin: 0 auto;
}

/*ナビゲーションバー*/
.nav-menu a {
  margin-bottom:15px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px #666666;
  border: 2px solid #f0f0f0;
  color: black;
  padding: 1px 1px 1px 1px;
  text-decoration: none;
  float: right;
  margin-right:5px;
  font-style: bold;
  width: 100px;
}
.nav-menu a:hover {
  background-color: #fff;
  border-color: red;
  color: red;
}

.heading img{
  width:50%;
}

.toukou-block{
  border-bottom: 5px inset black;
}

.search-form{
  margin-bottom:10px;
  border-color: black;
  box-shadow: 1px 1px 1px 1px #666666;
  background-color: #f2f4f8;;
  margin-bottom: 15px;
}

.search-form input{
    margin-top:10px;
  padding: 1em;
  border: 3px solid #ccc;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #666666;
  background-color: white;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.search-form button{
    margin-top:10px;
  padding: 1em;
  border: 3px solid #ccc;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #666666;
  background-color: white;
  width: 20%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.search-fukidashi {
  position: relative;
  padding: .5em .75em;
  background-color: #f6f6f6;
  width: 50%;
  margin-bottom:15px;
}

.search-fukidashi {
  position: relative;
  padding: .5em .75em;
  background-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 7px 7px 7px 7px #666666;
}
.search-fukidashi::after {
  position: absolute;
  top: 100%;
  left: 30px;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 15px solid #f0f0f0;
}

.nyuuryoku{
    padding: 1em;
  border: 3px solid #ccc;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #666666;
  background-color: white;
}

.img-box{
  width:100%;
  height:100%;
}

.search-form h2{
  padding: .75em 1em;
  border: 1px solid #ccc;
  /*border-top: 3px solid red;*/
  border-bottom: 5px solid white;
  background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 1) inset;
}

.cyfer-list h2{
  padding: .75em 1em;
  border: 1px solid #ccc;
  /*border-top: 3px solid red;*/
  border-bottom: 3px solid red;
  background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 1) inset;
}

.lp{
  width:70%;
  border-color: black;
  box-shadow: 1px 1px 1px 1px #666666;
  background-color: #f2f4f8;;
  margin:0 auto;
}

.lp h2{
  margin-bottom:0;
}

.lp h3 {
  position: relative;
  padding: .5em .75em;
  background-color: #f6f6f6;
}

.lp p{
  width:70%;
}
}