  <p>test</p>
  <% if user_signed_in? %>
  <%= link_to 'サインアウト', "/users/sign_out", method: :delete %>
  <%= link_to 'マイページ', user_path(current_user) %>
  <% else %>
  <%= link_to 'サインイン', user_session_path %>
  <%= link_to '新規登録', new_user_registration_path %>
  <% end %>